<div class="modal-header">
    <h3 class="modal-title">{{specification.name}} ({{specification.number}} - {{specification.email}}) verwijderen</h3>
</div>
<div class="modal-body">
    <p>Door een specificatie hier te verwijderen zal er geen afrekening meer verstuurd (kunnen) worden naar dit e-mailadres.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="delete()"><i class="fa fa-trash-o"></i> Verwijderen</button>
    <button class="btn btn-primary" ng-click="cancel()"><i class="fa fa-times"></i> Annuleren</button>
</div>
