<div class="modal-header">
    <h3 class="modal-title">T-Mobile {{t_mobile.month | date:'MMMM yyyy'}} bestaat al</h3>
</div>
<div class="modal-body">
    <p>Deze maand van T-Mobile is al geregistreerd in de database.</p>
    <p><strong>Deze maand overschrijven?</strong></p>
</div>
<div class="modal-footer">
    
    <button class="btn btn-danger" ng-click="update(id)"><i class="fa fa-save"></i> Overschrijven</button>

    <button class="btn btn-primary" ng-click="cancel()"><i class="fa fa-times"></i> Annuleren</button>
</div>
