.donut-caption, .donut-footer{
	text-align: center
}

.donut-legend .colorbox {
	width: 15px;
	height: 15px;
	display: inline-block;	
	margin-right: 10px;
}

.donut-legend .blue {
	background-color: #ff1a1a;
}

.donut-legend .red {
	background-color: #0b62a4;
}

.button-save-month {
	margin-top: 20px;
	margin-right: 40px;
}

.donut-legend {
 	margin-left:15px;
}

.donut-tmobile {
	width: 300px;
	height: 300px;
	margin: 0 auto;
}