<html>
<body>

T-mobile Zakelijk
<br><br>
Dit is een specificatie van de mobiele telefoonkosten. De werkelijke kosten worden doorberekend via het interne doorberekensysteem. Deze rekening hoeft u dus niet rechtstreeks te betalen.<br>
Alle bedragen zijn in Euro\'s.
<br><br>
Voor dataverkeer buitenland kunt u evt gebruikmaken van Travel&surf van T-mobile. Meer weten? kijk op de site van T-mobile.

</body>
</html>