<div class="row first-row">
	<div class="col-lg-10">

		<accordion>
			<accordion-group is-open="newDepartmentAccordion.open">
				<accordion-heading>
					<i class="fa fa-plus"></i> Nieuwe afdeling toevoegen
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': newDepartmentAccordion.open, 'glyphicon-chevron-right': !newDepartmentAccordion.open}"></i>
				</accordion-heading>

				<form name="addDepartmentForm" class="addDepartmentForm"
					ng-submit="addDepartment()"
					novalidate>
					
					<div class="row">

						<div class="col-md-12">
							
							<div class="control-group"><!-- name -->
								<div class="input-group input-group-sm">
									<span class="input-group-addon">Afdeling</span>
									<input type="text" class="form-control" placeholder="bv: ICTS" name="name"
										ng-model="newDepartment.name"
										unique="departments" 
										required 
										ng-model-options="{updateOn:'blur'}" />
								</div>	
								<ng-messages for="addDepartmentForm.name.$dirty && addDepartmentForm.name.$error" class="error-messages">
									<ng-message when="required">Dit veld is verplicht</ng-message>
									<ng-message when="unique">Deze afdeling bestaat al</ng-message>
								</ng-messages>
							</div>

							<div class="control-group"><!-- email -->
								<div class="input-group input-group-sm">
									<span class="input-group-addon">E-mail</span>
									<input type="email" class="form-control" placeholder="bv: j.jansen@utwente.nl" email="email" 
										ng-model="newDepartment.email" 
										ng-email
										required
										ng-model-options="{updateOn:'blur'}" />
								</div>	
								<ng-messages for="addDepartmentForm.email.$dirty && addDepartmentForm.email.$error" class="error-messages">
									<ng-message when="required">Dit veld is verplicht</ng-message>
									<ng-message when="email">Vul een geldig e-mailadres in</ng-message>
								</ng-messages>
							</div>

							<button type="submit" class="btn btn-primary" ng-disabled="addDepartmentForm.$invalid">Klant toevoegen</button>
							<button type="reset" class="btn btn-link" ng-click="addDepartmentForm.$setPristine()">Reset</button>
						</div>
					</div><!-- /.row -->
				</form>
			</accordion-group>
		</accordion>
	</div><!-- /.col-lg-10 -->
	<div class="col-lg-2">
		<a class="btn btn-default col-xs-12" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="{{today | date:'yyyy-MM-dd'}}_departments.csv">Exporteren als CSV</a>
		
	</div><!-- /.col-lg-2 -->
</div><!-- /.row -->


<!-- Mass import from csv if there are no departments -->
<!-- <div class="row"> -->
<div class="row" ng-show="departments.length===0 && departmentsLoaded">
	<div class="col-lg-12">

		<div class="panel panel-info">
			<div class="panel-heading">Afdelingen uit bestand importeren</div>
			<div class="panel-body">
				<input class="btn btn-default col-xs-12" type="file" my-file-reader="importDepartments($fileContent)" />

				<progressbar class="progress-striped active" max="massImport.total" value="massImport.finished" type="default"><i>{{massImport.finished}} / {{massImport.total}}</i></progressbar>

			</div>
		</div>

	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<table ng-table="tableParams" class="table" show-filter="true" export-csv="csv" no-export="'Actions">
			<thead>
				<th class="sortable" ng-class="{
                    'sort-asc': sort.predicate=='name' && sort.reverse,
                    'sort-desc': sort.predicate=='name' && !sort.reverse
                  }"
                    ng-click="sort.predicate='name';sort.reverse=!sort.reverse">
                    <div><i class="fa fa-graduation-cap"></i> Afdeling</div>
                </th>
                <th class="sortable" ng-class="{
                    'sort-asc': sort.predicate=='email' && sort.reverse,
                    'sort-desc': sort.predicate=='email' && !sort.reverse
                  }"
                    ng-click="sort.predicate = 'email'; sort.reverse=!sort.reverse">
                    <div><i class="fa fa-envelope"></i> E-mail</div>
                </th>
                <th class="no-export">
                	<div><i class="fa fa-cog"></i></div>
                </th>
			</thead>
			<tbody>
				<tr ng-repeat="department in departments | orderBy:sort.predicate:sort.reverse">
					
					<td data-title="'Afdeling'" class="col-md-5">
						<span ng-if="!department.$edit">{{department.name}}</span>
						<form id="{{department._id}}" name="editDepartmentForm" ng-submit="updateDepartment(department)" novalidate>
							<div ng-if="department.$edit">
								<input class="form-control input-sm" type="text" ng-model="department.name"
									ng-minlength=2
									required
									ng-model-options="{debounce:500}" />
							</div>
						</form>
					</td>
					<td data-title="'E-mail'" class="col-md-6">
						<span ng-if="!department.$edit"><a href="mailto:{{department.email}}">{{department.email}}</a></span>
						<div ng-if="department.$edit">
							<input form="{{department._id}}" ng-form="{{department._id}}" class="form-control input-sm" type="email" ng-model="department.email"
								ng-email
								required
								ng-model-options="{debounce: 500}" />
						</div>
					</td>
					
					<td data-title="'Actions'" class="col-md-1">
		                <button ng-if="!department.$edit" class="btn btn-action btn-edit" ng-click="department.$edit = true"><i class="fa fa-pencil"></i></button>
		                <button ng-if="!department.$edit" class="btn btn-action btn-delete" ng-click="deleteDepartmentModal(department)"><i class="fa fa-trash"></i></button>
		                <button ng-if="department.$edit" class="btn btn-action btn-save" type="submit" form="{{department._id}}" ng-disabled="editDepartmentForm.$invalid"><i class="fa fa-floppy-o"></i></button>
		                <button ng-if="department.$edit" class="btn btn-action btn-reset" type="reset" ng-click="reset(department)"><i class="fa fa-times"></i></button>
		            </td>
		            
				</tr>
			</tbody>
		</table>
	</div>
</div>