<div class="modal-header">
    <h3 class="modal-title">{{customer.name}} ({{customer.department.name}}<span ng-show="customer.subdepartment">-{{customer.subdepartment}}</span>) wijzigen</h3>
    <span class="label label-default" tooltip="Mobiel nummer">{{customer.mobileNumber}}</span>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="control-group"><!-- name -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Naam</span>
                    <input type="text" class="form-control" placeholder="bv: Jan Jansen" name="name"
                        ng-model="customer.name"
                        ng-minlength=3
                        required
                        ng-model-options="{debounce:1000}" />
                </div>
                <ng-messages for="customerForm.name.$dirty && customerForm.name.$error" class="error-messages">
                    <!-- <ng-message when="required">Dit veld is verplicht</ng-message> -->
                    <!-- <ng-message when="minlength">Vul een langere naam in</ng-message> -->
                    <!-- <ng-message when="unique">Deze gebruiker bestaat al</ng-message> -->
                </ng-messages>
            </div>

            <div class="control-group"><!-- email -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">E-mail</span>
                    <input type="email" class="form-control" placeholder="bv: j.jansen@utwente.nl" name="email"
                        ng-model="customer.email"
                        required
                        ng-model-options="{updateOn:'blur'}" />
                </div>
                <ng-messages for="customerForm.email.$dirty && customerForm.email.$error" class="error-messages">
                    <!-- <ng-message when="required">Dit veld is verplicht</ng-message> -->
                    <!-- <ng-message when="email">Vul een geldig email adres in</ng-message> -->
                    <!-- <ng-message when="unique">Deze gebruiker bestaat al</ng-message> -->
                </ng-messages>
            </div>

            <div class="control-group"><!-- department -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Afdeling</span>
                    <select class="form-control"
                        ng-model="customer.department"
                        required
                        ng-options="department.name for department in departments track by department._id">
                    </select>
                </div>
                <ng-messages for="customerForm.department.$dirty && customerForm.department.$error" class="error-messages">
                    <ng-message when="required">Dit veld is verplicht</ng-message>
                    <ng-message when="minlength">Dit veld is te kort</ng-message>
                </ng-messages>
            </div>


            <div class="control-group"><!-- subdepartment -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Subafdeling</span>
                    <input type="text" class="form-control" placeholder="bv: INFRA" name="subdepartment"
                        ng-model="customer.subdepartment"
                        ng-minlength=2
                        required
                        ng-model-options="{updateOn:'blur'}" />
                </div>
                <ng-messages for="customerForm.subdepartment.$dirty && customerForm.subdepartment.$error" class="error-messages">
                    <ng-message when="required">Dit veld is verplicht</ng-message>
                    <ng-message when="minlength">Dit veld is te kort</ng-message>
                </ng-messages>
            </div>


            <div class="control-group"><!-- internalAddress -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Intern adres</span>
                    <input type="text" class="form-control" placeholder="bv: Citadel H217" name="internalAddress"
                        ng-model="customer.internalAddress"
                        ng-minlength=2
                        required
                        ng-model-options="{updateOn:'blur'}" />
                </div>
                <ng-messages for="customerForm.internalAddress.$dirty && customerForm.internalAddress.$error" class="error-messages">
                    <ng-message when="required">Dit veld is verplicht</ng-message>
                    <ng-message when="minlength">Dit veld is te kort</ng-message>
                </ng-messages>
            </div>

            <div class="control-group"><!-- landlineNumber -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Vast nummer</span>
                    <input type="tel" class="form-control" placeholder="bv: 4321" name="landlineNumber"
                        ng-model="customer.landlineNumber"
                        ng-minlength=3
                        ng-maxlength=14
                        required
                        ng-model-options="{updateOn:'blur'}" />
                </div>
                <ng-messages for="customerForm.landlineNumber.$dirty && customerForm.landlineNumber.$error" class="error-messages">
                    <ng-message when="required">Dit veld is verplicht</ng-message>
                    <ng-message when="minlength">Dit veld moet ten minste 3 cijfers bevatten</ng-message>
                    <ng-message when="maxlength">Dit veld mag maximaal 14 cijfers bevatten</ng-message>
                </ng-messages>
            </div>

            <div class="control-group"><!-- mobileNumber -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Mobiel nummer</span>
                    <input type="tel" class="form-control" placeholder="bv: 06 123456789" name="mobileNumber"
                        ng-model="customer.mobileNumber"
                        ng-minlength=4
                        required
                        ng-model-options="{updateOn:'blur'}" />
                </div>
                <ng-messages for="customerForm.mobileNumber.$dirty && customerForm.mobileNumber.$error" class="error-messages">
                    <ng-message when="required">Dit veld is verplicht</ng-message>
                    <ng-message when="minlength">Dit veld moet ten minste 4 cijfers bevatten</ng-message>
                </ng-messages>
            </div>

        </div><!-- /.col-md-6 -->
        <div class="col-md-6">

            <div class="control-group"><!-- imeiNumber -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">IMEI nummer</span>
                    <input type="text" class="form-control" placeholder="bv: IMEI" name="imeiNumber"
                        ng-model="customer.imeiNumber"
                        my-imei
                        required
                        ng-model-options="{debounce:500}" />
                </div>
                <ng-messages for="customerForm.imeiNumber.$dirty && customerForm.imeiNumber.$error" class="error-messages">
                    <ng-message when="required">Dit veld is verplicht</ng-message>
                    <ng-message when="my-imei">Dit IMEI nummer is ongeldig</ng-message>
                </ng-messages>
            </div>

            <div class="control-group">
                <label class="btn btn-default btn-sm duoSim" ng-class="{'btn-success': customer.duoSim}" ng-model="customer.duoSim" btn-checkbox>
                    <i ng-class="{'fa fa-square-o': !customer.duoSim, 'fa fa-check-square-o': customer.duoSim}"></i> Duo Sim
                </label>
            </div>

            <div class="control-group"><!-- internetModule -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Internet module</span>
                    <input type="text" class="form-control" placeholder="bv: Internet module" name="internetModule"
                        ng-model="customer.internetModule"
                        ng-model-options="{updateOn:'blur'}" />
                </div>
                <ng-messages for="customerForm.internetModule.$dirty && customerForm.internetModule.$error" class="error-messages">
                </ng-messages>
            </div>

            <div class="control-group"><!-- internetActivationDate -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" tool-tip="iets">Act. datum IM</span>
                    <input type="text" class="form-control" name="internetActivationDate"
                        datepicker-popup="dd-MM-yyyy"
                        ng-model="customer.internetActivationDate"
                        is-open="internetActivationDatePicker.opened"
                        datepicker-options="dateOptions"
                        close-text="Sluiten"
                        current-text="Vandaag"
                        clear-text="Legen"
                        ng-focus="internetActivationDatePicker.open($event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="internetActivationDatePicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <ng-messages for="customerForm.internetActivationDate.$dirty && customerForm.internetActivationDate.$error" class="error-messages">
                </ng-messages>
            </div>

            <div class="control-group"><!-- activationDate -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" tool-tip="iets">Activeringsdatum</span>
                    <input type="text" class="form-control" name="activationDate"
                        datepicker-popup="dd-MM-yyyy"
                        ng-model="customer.activationDate"
                        is-open="activationDatePicker.opened"
                        datepicker-options="dateOptions"
                        close-text="Sluiten"
                        current-text="Vandaag"
                        clear-text="Legen"
                        ng-focus="activationDatePicker.open($event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="activationDatePicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <ng-messages for="customerForm.activationDate.$dirty && customerForm.activationDate.$error" class="error-messages">
                </ng-messages>
            </div>

            <div class="control-group"><!-- phoneType -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Telefoon type</span>
                    <input type="text" class="form-control" placeholder="bv: HTC Desire" name="phoneType"
                        ng-model="customer.phoneType"
                        ng-model-options="{updateOn:'blur'}" />
                </div>
                <ng-messages for="customerForm.phoneType.$dirty && customerForm.phoneType.$error" class="error-messages">
                </ng-messages>
            </div>

            <div class="control-group"><!-- employmentSince -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" tool-tip="iets">In dienst sinds</span>
                    <input type="text" class="form-control" name="employmentSince"
                        datepicker-popup="dd-MM-yyyy"
                        ng-model="customer.employmentSince"
                        is-open="employmentSincePicker.opened"
                        datepicker-options="dateOptions"
                        close-text="Sluiten"
                        current-text="Vandaag"
                        clear-text="Legen"
                        ng-focus="employmentSincePicker.open($event)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="employmentSincePicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <ng-messages for="customerForm.employmentSince.$dirty && customerForm.employmentSince.$error" class="error-messages">
                </ng-messages>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o"></i> Opslaan</button>
    <button class="btn btn-primary" ng-click="cancel()"><i class="fa fa-times"></i> Annuleren</button>
</div>
