.button-change-month {
	margin-top: 20px;
}

.month-done {
    color: #3c763d;
    font-size: 17px
}

.step-content {
	min-height: 350px;
}

.info {
	padding-left: 0;
}

.progress-message {
	margin-bottom: 50px;
}

.message.alert {
	padding: 5px;
}

.pdf {
	color: #cc1f1b;
}

.xlsx {
	color: #0d800f;
}

.html {
	color: #3d378e;
}

.file-icon {
	font-size: 22px;
	margin-right: 5px;
}

h5 {
	font-weight: bold;
}

.file-list {
	overflow-y: scroll;
	max-height: 580px;
}

.progress-bar-pdf {
	background-color: #d85451;
}

.progress-bar-excel {
	background-color: #368038;
}

.progress-bar-html {
	background-color: #7973cc;
}